<!--  app/views/users/show.html.erb -->

<div class="content">
  <h2>Dashboard of <em><%= @user.name %></em></h2>
  <div class="d-grid mt-4 gap-3">
    <h3>Uncompleted Projects:</h3>
    <div class="row row-cols-2 mb-3">
      <% @uncompleted_projects.each do |uncompleted_project| %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= uncompleted_project.name%></h5>
              <p class="card-text"><%= uncompleted_project.description%></p>
              <div class="row row-cols-2">
                <div class="col pl-0 pr-1">
                  <%= link_to 'Complete', user_path(@user), :class => 'btn btn-primary btn-block'%>
                </div>
                <div class="col pr-0 pl-1">
                  <%= link_to 'Details', user_path(@user), :class => 'btn btn-primary btn-block'%>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <h3>Completed Projects:</h3>
    <div class="row row-cols-2 mb-13">
      <% @completed_projects.each do |completed_project| %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= completed_project.name%></h5>
              <p class="card-text"><%= completed_project.description%></p>
              <div class="row row-cols-1">
                <%= link_to 'Details', user_path(@user), :class => 'btn btn-primary'%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

