<!--  app/views/projects/show.html.erb -->

<div class="content">

	
	<% if @user_project && @user_project.project_started %>

		<div class="container-fluid">
			<%= link_to 'Chat With Your Tech Assist', chats_path(project_id: @project.id, step:@step.to_i), :class => 'btn btn-primary', style: 'width: 30%; margin-bottom: 10px; padding: 10px;' %>
		</div>

		<% if @step %>
			<% if @step == '0' %>
				<%= @project.description.html_safe %>
				<h3>Submit a Review</h3>
				<%= simple_form_for [@project, @new_comment], url: create_review_project_path(project_id:@project.id) do |f| %>
				<%= f.input :body, label: 'Your Review', input_html: { rows: 4 } %>
				<%= f.button :submit, class: 'btn btn-primary' %>
				<% end %>
				<% if @comments.any? %>
					<h3>Reviews</h3>
					<% @comments.each do |comment, nested_comments| %>
					<div>
						<%= comment.user.name %>: <%= comment.body %>
						<!-- <% if comment.user == @current_user %>
        					<%= link_to 'Delete', delete_review_project_path(project_id:project.id, comment_id:comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      					<% end %> -->
						<%= render partial: 'comments/nested_comments', locals: { nested_comments: nested_comments } if nested_comments.present? %>
					</div>
					<% end %>
				<% else %>
					<p>No reviews available.</p>
				<% end %>
			<% else %>
                <% if @project.send("step#{@step}")[0] != "<" %>
                    <div class="card" style="height: 100%">
                        <div class="card-body">
                            <%= markdown(@project.send("step#{@step}")) %>
                        </div>
                    </div>
                <% else %>
                    <%= @project.send("step#{@step}").html_safe %>
                <% end %>
			<% end %>
		<% else %>
			<%= @project.description.html_safe %>
			<h3>Submit a Review</h3>
			<%= simple_form_for [@project, @new_comment], url: create_review_project_path(project_id:@project.id) do |f| %>
			<%= f.input :body, label: 'Your Review', input_html: { rows: 4 } %>
			<%= f.button :submit, class: 'btn btn-primary' %>
			<% end %>
			<% if @comments.any? %>
				<h3>Reviews</h3>
				<% @comments.each do |comment, nested_comments| %>
				<div>
					<%= comment.user.name %>: <%= comment.body %>
					<!-- <% if comment.user == @current_user %>
        					<%= link_to 'Delete', delete_review_project_path(project_id:@project.id, comment_id:comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
					<% end %> -->
					<%= render partial: 'comments/nested_comments', locals: { nested_comments: nested_comments } if nested_comments.present? %>
				</div>
				<% end %>
			<% else %>
				<p>No reviews available.</p>
			<% end %>
		<% end %>

		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
				<%= link_to '<<', project_path(step: @step.to_i - 1, id: @project.id), class: 'page-link' %>
				</li>

				<% empty_count = [@project.step1, @project.step2, @project.step3, @project.step4, 
									@project.step5, @project.step6, @project.step7, @project.step8, 
									@project.step9, @project.step10, @project.step11, @project.step12, 
									@project.step13, @project.step14, @project.step15].count(&:blank?) %>

				<% step_count = 15 - empty_count%>

				<% for i in 0..step_count %>
					<li class="page-item"><%= link_to i, project_path(step: i, id: @project.id), class: 'page-link' %></li>
				<% end %>

				<%= link_to '>>', project_path(step: @step.to_i + 1, id: @project.id), class: 'page-link' %>
				</li>
			</ul>
		</nav>

	<% else %>

		<% if UserProject.where(:user => session[:user_id], :project => @project).count == 0 %>
			<%= form_tag user_projects_path, :method => :post do %> 
				<%= hidden_field_tag 'project_id', @project.id %>
				<%= @project.description.html_safe %>
				<% if @comments.any? %>
					<h3>Reviews</h3>
					<% @comments.each do |comment, nested_comments| %>
					<div>
						<%= comment.user.name %>: <%= comment.body %>
						<!-- <% if comment.user == @current_user %>
        					<%= link_to 'Delete', delete_review_project_path(project_id:@project.id, comment_id:comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      					<% end %> -->
						<%= render partial: 'comments/nested_comments', locals: { nested_comments: nested_comments } if nested_comments.present? %>
					</div>
					<% end %>
				<% else %>
					<p>No reviews available.</p>
				<% end %>
				<%= submit_tag 'Add to my projects', :class => 'btn btn-primary btn-block' %>
			<% end %>
		<% else %>
			<%= form_tag user_projects_path, :method => :post do %> 
				<%= hidden_field_tag 'project_id', @project.id %>
				<%= @project.description.html_safe %>
				<% if @comments.any? %>
					<h3>Reviews</h3>
					<% @comments.each do |comment, nested_comments| %>
					<div>
						<%= comment.user.name %>: <%= comment.body %>
						<!-- <% if comment.user == @current_user %>
        					<%= link_to 'Delete', delete_review_project_path(project_id:@project.id, comment_id:comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      					<% end %> -->
						<%= render partial: 'comments/nested_comments', locals: { nested_comments: nested_comments } if nested_comments.present? %>
					</div>
					<% end %>
				<% else %>
					<p>No reviews available.</p>
				<% end %>
				<%= link_to 'Start Project', start_project_path(@project.id), method: :patch, class: 'btn btn-primary btn-block' %>

			<% end %>
		<% end %>

	<% end %>

</div>


